%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title CodeBreaker
    %link{href: "/stylesheets/application.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/bootstrap.css", rel: "stylesheet", type: "text/css"}/
  %body
    #container
      %h1 Welcome to Codebreaker Game
      .column
        .column1
          - unless agree_to_save
            - if win?
              %div You won! Congratulations!
            - else
              - if @game.available_attempts.zero?
                %div
                  You don't have attempts.
                  %br/
                  Game over!
              - else
                .guess Enter your guess:
                %form.guess1{action: "/check_input", method: "post"}
                  %input.input{name: "guess", type: "text"}/
                  %input.btn{type: "submit", value: "Submit"}/
          %form.new-game{action: "/new_game", method: "post"}
            %input.btn{type: "submit", value: "New game"}/
          .table1
            - if guesses && results
              %table.table-game
                - guesses.each_with_index do |guess, i|
                  %tr
                    %td Guess:
                    %td= guess
                    %td Result:
                    %td= results[i]
            - if condition_for_save
              %form.save{action: "/save_result", method: "post"}
                %input.input{name: "name", placeholder: "Your name", type: "text"}/
                %input.btn{type: "submit", value: "Save result"}/
        .column1
          .attempt
            Available attempts: #{game.available_attempts}
          - if game.available_attempts > 0
            %form.hint{action: "/show_hint", method: "get"}
              %input.btn{type: "submit", value: "Hint"}/
            %p.hint-text= hint
      .column
        .results
          - if load_score.any?
            %h3 Results
            %table
              %tr
                %th Item No
                %th Name
                %th Turns
                %th Date
              - load_score.each_with_index do |row, i|
                %tr
                  %td= i+1
                  %td= row[0]
                  %td= row[1]
                  %td= row[2]